@import url(../vendor/normalize.css);

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.navIcon {
  display: flex;
  cursor: pointer;
  margin-top: 22px;
}

.activeText {
  color: #f2f2f3;
}