.popupOverlayActiv {
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
  z-index: 1;
  transform: scale(1);
}

.popupOverlay {
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
  z-index: 1;
  transform: scale(0);
}