.profile {
  width: 90vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.profileContainer {
  max-width: 1240px;
  width: 100%;
  margin-left: 120px;
  display: flex;
}
  
.sidebar {
  display: flex;
  flex-direction: column;
}
  
.sidebarItem {
  cursor: pointer;
}

.description {
  max-width: 300px;
}

.navIcon {
  display: flex;
  cursor: pointer;
}
  
.activeText {
  color: #f2f2f3;
}